.seller-dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.seller-dashboard-heading {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seller-dashboard-inside-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller-dashboard-tabs-wrapper {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 50px;
    padding: 10px;
    position: relative;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.seller-dashboard-tab {
    border-radius: 50px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    width: 240px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #232323;
    user-select: none;
    transition: all 0.4s;
}

.seller-dashboard-tab .material-icons {
    vertical-align: middle;
    margin-right: 3px;
    position: relative;
}

.seller-dashboard-tab .title {
    vertical-align: middle;
}

.seller-dashboard-tabs-wrapper input {
    display: none;
}

.seller-dashboard-shape {
    width: 240px;
    /* Width matches the width of a tab */
    height: 40px;
    /* Height matches the height of a tab */
    background: linear-gradient(45deg, #7abaff 0%, rgba(18, 117, 202, 0.4) 98%);
    border-radius: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    /* Align with the first tab initially */
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s;
}

.seller-dashboard-tabs-wrapper #seller-dashboard-tab-1:checked~.seller-dashboard-shape {
    left: 10px;
    /* First tab position */
}

.seller-dashboard-tabs-wrapper #seller-dashboard-tab-1:checked~.seller-dashboard-tab[for="seller-dashboard-tab-1"] {
    z-index: 1;
    color: #0b5394;
}

.seller-dashboard-tabs-wrapper #seller-dashboard-tab-2:checked~.seller-dashboard-shape {
    left: calc(10px + 240px);
    /* Adjust for the second tab position */
}

.seller-dashboard-tabs-wrapper #seller-dashboard-tab-2:checked~.seller-dashboard-tab[for="seller-dashboard-tab-2"] {
    z-index: 1;
    color: #0b5394;
}